package {{packageName}}

{{#if parent}}import {{packageName}}.{{parent}}{{/if}}

@com.alexsarrell.cor4al.core.annotations.Version("{{version}}")
data class {{className}}({{#each properties}}
    /**
    * Description: {{description}}
    * Since: {{version}}
    */
    val {{name}}: {{type}}{{#unless required}}?{{/unless}}{{#if defaultValue}} = {{defaultValue}}{{/if}},{{/each}}{{#each parentFields}}
    /**
    * Description: {{description}}
    * Since: {{version}}
    */
    override val {{name}}: {{type}}{{#unless required}}?{{/unless}}{{#if defaultValue}} = {{defaultValue}}{{/if}},{{/each}}
){{#if parent}}: {{parent}}({{#each parentFields}}
    {{name}} = {{name}},{{/each}}
){{/if}}
